.btn {
  letter-spacing: 0.1em;
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  text-transform: inherit;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.btn:active {
  scale: 0.98;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 5rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--c-text-dark);
}

.close {
  cursor: pointer;
}

@media (min-width: 45em) {
  .btn{
    margin-right: 0;  
    margin-left: auto ;
  }
  .modal {
    height: initial;
    width: initial;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    gap: 2rem;
    z-index: 100;
  }

  .close {
    grid-column: 3;
  }

  .modal img {
    grid-row: 2;
    grid-column: span 3;
  }

  .bg {
    position: absolute;
    width: 100vw;
    height: 110vh;
    background-color: hsla(0, 0%, 0%, 0.4);
    top: 0;
    left: 0;
  }
}
